<!--<h1>
  {{title}}
</h1>-->
<div class="main-container">
  <div class="container">
<nav class="row nav">
<ul class="navlist">
  <li class="col-lg-2 animateDiv1">
    <a href="#">
    <div><img src="/assets/home1.png" class="menuImg"></div>
    <div class="menuLabel"><span>home</span></div></a>
  </li>
  <li class="col-lg-2 animateDiv2">
    <a href="#">
   <div><img src="/assets/flask.png" class="menuImg"></div>
    <div class="menuLabel">what is it?</div></a>
  </li>
  <li class="col-lg-2 animateDiv3" >
    <a href="#">
    <div><img src="/assets/brush.png" class="menuImg"></div>
    <div class="menuLabel">options</div></a>
  </li>
  <li class="col-lg-2 animateDiv4" >
    <a href="#">
    <div><img src="/assets/flag.png" class="menuImg"></div>
    <div class="menuLabel">easing effects</div></a>
  </li>
  <li class="col-lg-2 animateDiv5" >
    <a href="#">
    <div><img src="/assets/contact.png" class="menuImg"></div>
    <div class="menuLabel">usage</div></a>
  </li>
  <li class="col-lg-2 animateDiv6" >
    <a href="#">
    <div><img src="/assets/mail.png" class="menuImg"></div>
    <div class="menuLabel">about me</div></a>
  </li>
</ul>
  <!--<div class="col-lg-4 animateDiv">sdsaf</div>
  <div class="col-lg-4 animateDiv">asdsafds</div>
  <div class="col-lg-4 animateDiv">asdfdf</div>-->

</nav>
  </div>
</div>