<h1>
  {{title}}
</h1>
<div class="main-container">
  <div class="container">
<nav class="row">
<ul class="navlist">
  <li class="col-lg-2 animateDiv1">
    ajshdsfh</li>
  <li class="col-lg-2 animateDiv2">ajshdsfh</li>
  <li class="col-lg-2 animateDiv3">ajshdsfh</li>
  <li class="col-lg-2 animateDiv4">ajshdsfh</li>
  <li class="col-lg-2 animateDiv5">ajshdsfh</li>
  <li class="col-lg-2 animateDiv6">ajshdsfh</li>
</ul>
  <!--<div class="col-lg-4 animateDiv">sdsaf</div>
  <div class="col-lg-4 animateDiv">asdsafds</div>
  <div class="col-lg-4 animateDiv">asdfdf</div>-->

</nav>
  </div>
</div>