/* You can add global styles to this file, and also import other style files */
.animateDiv1{
  min-height:20vh;
  background-color:#d06503;
  color:#fff;
  font-size:1em;
 /*  max-width:15%; */
  transition:0.5s ease-in;
}
.animateDiv1:hover{
  min-height:22vh;
  border-bottom:4px solid #974a02;
  transition:0.5s ease-out;
 }
 .animateDiv2{
  min-height:20vh;
  background-color:#e9931a;
  color:#fff;
  font-size:1em;
 /*  max-width:15%; */
  transition:0.5s ease-in;
}
.animateDiv2:hover{
  min-height:22vh;
  border-bottom:4px solid #d18215;
  transition:0.5s ease-out;
 }
 .animateDiv3{
  min-height:20vh;
  background-color:#1691be;
  color:#fff;
  font-size:1em;
 /*  max-width:15%; */
  transition:0.5s ease-in;
}
.animateDiv3:hover{
  min-height:22vh;
  border-bottom:4px solid #137aa0;
  transition:0.5s ease-out;
 }
 .animateDiv4{
  min-height:20vh;
  background-color:#166ba2;
  color:#fff;
  font-size:1em;
 /*  max-width:15%; */
  transition:0.5s ease-in;
}
.animateDiv4:hover{
  min-height:22vh;
  border-bottom:4px solid #125887;
  transition:0.5s ease-out;
 }
 .animateDiv5{
  min-height:20vh;
  background-color:#1b3647;
  color:#fff;
  font-size:1em;
 /*  max-width:15%; */
  transition:0.5s ease-in;
}
.animateDiv5:hover{
  min-height:22vh;
  border-bottom:4px solid #152a37;
  transition:0.5s ease-out;
 }
.animateDiv6{
  min-height:20vh;
  background-color:#152836;
  color:#fff;
  font-size:1em;
 /*  max-width:15%; */
  transition:0.5s ease-in;
}
.animateDiv6:hover{
  min-height:22vh;
  border-bottom:4px solid #070e12;
  transition:0.5s ease-out;
 }
.navlist{
    list-style-type: none;
}
/*background can be added like this also*/
/*.nav li:nth-child(6n+1){
background-color:#d06503;
}*/

.nav img{
  max-width: 50%;
    max-height: 40%;
    position: relative;
    display: inline-block;
    padding: 0.4em;
    border-radius: 50%;
    font-size: 1.8em;
    box-shadow: 0 0 0 30px transparent;
    background: rgba(255,255,255,0.1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: box-shadow .6s ease-in-out;
    transition-property: box-shadow;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    margin-top: 1em;
        margin-left: 43px;
}
.nav li:hover img{
  box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		
		transition: box-shadow .4s ease-in-out;
}
.menuLabel{
  margin-top: 1em;
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
   transition: margin .5s;
    transition-property: margin;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}
.nav li:hover .menuLabel{
  margin-top: 2em;
  transition:margin .4s ease-in-out;  
  
}
a{
  color:#fff;
}

.nav li:hover a{
  color:#fff;
text-decoration: none;
}
.nav{
  margin-top:3em;
}
/*.nav li:hover div{
  transition: margin .5s;
    transition-property: margin;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}*/
/*.nav li:hover   .menuLabel span{
   transition: margin .5s;
    transition-property: margin;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}*/